<component name="ArtifactManager">
  <artifact type="war" name="SpringMVClegacy:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCLegacy.war">
      <element id="artifact" artifact-name="SpringMVClegacy:war exploded" />
    </root>
  </artifact>
</component>